.carouselItemParentDiv img {
  height: 200px;
  width: 220px;
  border-radius: 8px 8px 0px 0px;
}

.carouselItemParentDiv h4 {
  font-size: 15px;
}

.carouselItemParentDiv h4,
.carouselItemParentDiv p {
  margin: 0px;
  padding: 0px;
}


.carouselItemParentDiv div div:nth-child(2) span {
  top: 2px;
  position: relative;
}

.carouselItemParentDiv p {
  font-weight: 200;
  font-size: 14px;
}

.carouselItemParentDiv {
  border-radius: 8px;
  border: 1px solid #e3e3e3;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
  background-color: #fff;
  width: fit-content;
  margin: 10px 21px;
  cursor: pointer;
}

.carouselItemsContainer {
  display: flex;
  justify-content: flex-start;

}

.carouselHeader {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.movieInformation {
  display: flex;
  flex-wrap: nowrap;
  margin: 0px;
  padding: 0px;
  justify-content: space-between;
}


.movieInformation div:nth-child(1) {
  padding: 1% 2px 1% 1%;
  text-align: left;
  margin: 8px 0px 8px 8px;
}

.movieInformation div:nth-child(2) {
  padding: 0%;
  text-align: right;
  margin: 8px 8px 8px 0px;
  max-width: fit-content;
  min-width: fit-content;
  flex: auto;
}

.carouselHeader:hover .seeMoreArrowBtn {
  fill: gold;
}

.carouselHeader h3 {
  color: black;
  margin-left: 33px;
  margin-top: 28px;
}

.carouselHeader a:hover {
  color: black;
}

.slider {
  display: flex;
  flex-direction: row;
  width: 98vw;
  flex-wrap: nowrap;
  overflow-x: auto;
  max-width: 98vw;
  margin: 10px;
}


/* body {
  font-size: 16px;
} */

@media (max-width: 1200px) {
  .container {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  .container {
    font-size: 14px;
  }
}

/* tablets */
@media (max-width: 768px) {
  .container {
    font-size: 13px;
  }

  .carouselItemParentDiv img {
    height: 170px;
    width: 190px;
    border-radius: 8px 8px 0px 0px;
    margin: 0px;
  }

  .carouselItemParentDiv {
    margin: 5px;
  }

  .movieInformation div:nth-child(2) {
    margin: 10px 8px 8px 0px;
  }


  .carouselHeader h3 {
    color: black;
    margin-left: 17px;
    margin-top: 28px;
  }


  .slider {
    width: 97vw;
    flex-wrap: nowrap;
    overflow-x: auto;
    max-width: 97vw;
    margin: 8px;
  }
}

/* mobile phones */
@media (max-width: 576px) {
  .container {
    font-size: 12px;
  }

  .carouselItemParentDiv img {
    height: 130px;
    width: 150px;
    border-radius: 8px 8px 0px 0px;
    margin: 0px;
  }

  .carouselItemParentDiv {
    margin: 5px;
  }

  .movieInformation div:nth-child(2) {

    margin: 10px 3px 8px 0px;
  }

  .carouselHeader h3 {
    color: black;
    margin-left: 11px;
    margin-top: 28px;
  }

  .movieInformation h3, .movieInformation p{
    font-size: 10px;
  }

  .slider {
    width: 95vw;
    flex-wrap: nowrap;
    overflow-x: auto;
    max-width: 95vw;
    margin: 10px;
  }
}