/* src/styles/Home.module.css */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #FCFFE7;
}

.header {
    background-color: #FCFFE7;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    margin: 0;
    color: #2B3467;
}

.searchBar {
    display: flex;
    border: 1px solid black;
    width: 25vw;
}

.searchBar select {
    border: 0px;
    border-right: 2px solid black;
    text-align: center;
    height: 40px;
}

.searchInput {
    height: 40px;
    border: 0px;
    border-radius: 4px;
    width: 100%;
}

.navigationBar {
    background-color: #bad7e9;
}

.navList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navItem {
    margin: 0;
}

.navLink {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    display: block;
}

.navLink:hover {
    background-color: #EB455F;
}

.mainContent {
    padding: 20px;
    flex: 1;
    color: #2B3467;
}

.footer {
    background-color: #FCFFE7;
    padding: 10px;
    text-align: center;
    color: #2B3467;
}



/* search drop down css */

    .resultsList {
        list-style-type: none;
        padding: 0;
        margin: 0 0;
        border: 1px solid #ccc;
        border-top: none;
        background-color: #fff;
        max-height: 400px;
        overflow-y: auto;
        position: absolute;
        z-index: 999;
        width: 25vw;
    }
    .resultsItem {
        padding: 10px;
        border-bottom: 1px solid #eee;
        display: flex
    }
    .resultsItem:hover {
        background-color: #f0f0f0;
    }
