/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/styles/movieDetails.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.searchImg{
    width: 20%;
    border-radius: 8px;  
}

.mediaDetails{
    border: none;
    background: #bad7e9;
}

.mediaDetails:hover{
    background: #0d6efd;
}

